.banner-wpc {
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -4;
  text-transform: uppercase;
}
.banner-wpc h1 {
  font-family: 'bebas-neue';
  font-size: 86px;
  margin-left: 0px;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 5px;
}
.banner-wpc h2 {
  font-family: 'droid-bold';
  font-size: 22px;
  margin-left: 0px;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 5px;
}
.banner-wpc h3 {
  font-family: 'droid-reguler';
  font-size: 15px;
  margin-left: 0px;
  margin-top: 13px;
  margin-right: 0px;
  margin-bottom: 13px;
}
.logo-title {
  padding-left: 0px;
  padding-top: 17px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.maps {
  height: 551px;
  background-color: aquamarine;
  position: relative;
}
.wrap-create-event {
  position: absolute;
  width: 400px;
  height: auto;
  background-color: #fff;
  -webkit-box-shadow: 2px 0px 5px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 2px 0px 5px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 2px 0px 5px 0px rgba(50, 50, 50, 0.3);
}
.modal-body-wpc {
  overflow: hidden;
}
#input-location {
  width: 100%;
}
.header-form-event {
  font-family: 'bebas-neue';
  background-color: #506970;
}
.header-form-event h1 {
  color: #fff;
  margin-top: 0px;
  padding: 5px;
}
.body-form-event {
  padding: 3px;
}
.date-form {
  margin: 10px;
}
label.control-label span {
  cursor: pointer;
}
.footer-form-event {
  font-family: 'bebas-neue';
  background: url('../images/bg-nav.png') repeat;
  padding: 5px;
}
.event-legend {
  position: absolute;
  background: red;
  width: 200px;
  height: 200px;
  bottom: 0px;
}
.footer {
  height: auto;
  margin-top: 295px;
}
.list-footer-logo {
  list-style: none;
}
.list-footer-logo li {
  display: inline-block;
}
.list-footer-logo img {
  width: 140px;
}
