= stylesheet_link_tag "jquery.countdown"
= javascript_include_tag "jquery.plugin", "jquery.countdown"
#defaultCountdown
javascript:
  $('#defaultCountdown').countdown({until: new Date(2014, 9 - 1, 21)});