#map-content.content-info-map style=""

#content-for-map data-contents="#{@markers}"
#event-type data-event-type="#{@event.event_type}"
#location-for-map data-contents="#{[@location[:latitude], @location[:longitude]]}"
#content-location-for-map data-content-information="#{[@event.lat, @event.long]}" data-content-type="#{@event.class.to_s.titleize}"

- content_for :javascript do
  = javascript_include_tag :maps

= render 'form'