.social-icon-set {
  width: 25px;
  height: 25px;
  background: url('../images/social-sprite2.png') no-repeat left top;
}
.social-icon-set.icons-fb {
  background-position: 0px 0px;
}
.social-icon-set.icons-fb:hover {
  opacity: 0.5;
}
.social-icon-set.icons-twitter {
  background-position: -25px 0px;
}
.social-icon-set.icons-twitter:hover {
  opacity: 0.5;
}
.social-icon-set.icons-pinterest {
  background-position: -50px 0px;
}
.social-icon-set.icons-pinterest:hover {
  opacity: 0.5;
}
.social-icon-set.icons-instagram {
  background-position: -75px 0px;
}
.social-icon-set.icons-instagram:hover {
  opacity: 0.5;
}
.social-icon-set.icons-mail {
  background-position: 0px -25px;
}
