@font-face {
  font-family: 'bebas-neue';
  src: url('../fonts/bebasneue-webfont.eot');
  src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bebasneue-webfont.woff') format('woff'), url('../fonts/bebasneue-webfont.ttf') format('truetype'), url('../fonts/bebasneue-webfont.svg') format('svg');
}
@font-face {
  font-family: 'droid-reguler';
  src: url('../fonts/droidsans-webfont.eot');
  src: url('../fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/droidsans-webfont.woff') format('woff'), url('../fonts/droidsans-webfont.ttf') format('truetype'), url('../fonts/droidsans-webfont.svg') format('svg');
}
@font-face {
  font-family: 'droid-bold';
  src: url('../fonts/droidsans-bold-webfont.eot');
  src: url('../fonts/droidsans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/droidsans-bold-webfont.woff') format('woff'), url('../fonts/droidsans-bold-webfont.ttf') format('truetype'), url('../fonts/droidsans-bold-webfont.svg') format('svg');
}
