| "Congratulations, Your Event&nbsp;
= @title
| &nbsp;has been approved on the World Peace Global Events Map.  You can view your event by&nbsp;
= link_to "clicking here", event_url(@slug)
|. Thanks and Peace! - The Unify Team