
.footer-form-event {
  font-family: 'bebas-neue';
  background: image-url('bg-nav.png') repeat;
  padding: 5px;
}
.event-legend {
  font-family: 'bebas-neue';
  font-size: 22px;
  position: absolute;
  background: image-url('bg-nav.png') repeat;
  bottom: 10px;
  border: 2px solid #2aaacb;
  padding: 5px;
}

.navbar-wpc {
  background: image-url('bg-nav.png') repeat;
  width: 100%;
  border-radius: 0px;
  border: none;
  padding-bottom: 2px;
  margin-bottom: 0px;
}

.meditation {
  position: relative;
  top: -34px;
  left: 52px;
}

.music {
  position: relative;
  top: -34px;
  left: 32px;
}

.march {
  position: relative;
  top: -34px;
  left: 35px;
}

.multiple {
  position: relative;
  top: -34px;
  left: 42px;
}

.powered-logo {
  position: absolute;
  right: 0px;
  bottom: 42px;
  img {
    width: 120px;
  }
}




// @media (max-width:800px) {
//   .container {
//     margin-left: -10em;
//     width: 79em;
//   }
//   .event-legend {
//     width: 31em;
//   }
// }
