.social-icon-set {
  width: 25px;
  height: 25px;
  //background: image-url('social-sprite2.png') no-repeat left top;
}


.banner-wpc {
  background-image: image-url('banner.png');
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -4;
  text-transform: uppercase;
}

.footer-form-event {
  font-family: 'bebas-neue';
  background: image-url('bg-nav.png') repeat;
  padding: 5px;
}
.event-legend {
  font-family: 'bebas-neue';
  font-size: 22px;
  position: absolute;
  background: image-url('bg-nav.png') repeat;
  bottom: 10px;
  border: 2px solid #2aaacb;
  padding: 5px;
}

.navbar-wpc {
  background: image-url('bg-nav.png') repeat;
  width: 100%;
  border-radius: 0px;
  border: none;
  padding-bottom: 2px;
  margin-bottom: 0px;
}

.meditation {
  position: relative;
  top: -34px;
  left: 52px;
}

.music {
  position: relative;
  top: -34px;
  left: 32px;
}

.march {
  position: relative;
  top: -34px;
  left: 35px;
}

.multiple {
  position: relative;
  top: -34px;
  left: 42px;
}

.powered-logo {
  position: absolute;
  right: 0px;
  bottom: 42px;
  img {
    width: 100px;
  }
}

.powered-name {
  font-family: 'droid-reguler';
  font-size: 15px;
  color: #105567;
  position: absolute;
  right: 118px;
  bottom: 79px;
  text-transform: uppercase;
}

@media (max-width: 320px) {
.logo-title {
    h1,
    h2,
    h3 {
      text-align: center !important;
    }
  }
  .banner-wpc {
    background-size: cover !important;
  }
  .btn-find {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 0px !important;
    display: block;
  }
}

@media (max-width: 480px) {
  .logo-title {
    h1,
    h2,
    h3 {
      text-align: center !important;
    }
  }
  .banner-wpc {
    background-size: cover !important;
  }
}

@media (max-width: 568px) {
  .banner-wpc {
    background-size: cover !important;
  }
  .logo-title {
    h1,
    h2,
    h3 {
      text-align: center !important;
    }
  }
}

@media (min-width: 800px) {
.banner-wpc {
    background-size: cover !important;
  }
  .navbar-brand-wpc  {
    visibility: hidden;
  }
}

@media (min-width: 600px) {
.banner-wpc {
    background-size: cover !important;
  }
}

@media (max-width:1920px) {
  .container-fluid {
    margin-left: 23em;
    width: 95em;
  }
  .event-legend {
    width: 31em;
  }
}

@media (min-width: 800px) {
  .container-fluid {
    margin-left: 10em;
    width: 60em;
  }
  .event-legend {
    width: 31em;
  }
  .navbar-collasps-wpc {
    width: 92em;
    margin-left: -131px !important;
  }
}


// @media (max-width:800px) {
//   .container {
//     margin-left: -10em;
//     width: 79em;
//   }
//   .event-legend {
//     width: 31em;
//   }
// }
