@import 'moduls/screen.less';
@import 'partials/sprite.less';
@import 'partials/navigation.less';
@import 'partials/typography.less';
@import 'pages/landing-page.less';

.banner-wpc img {
  width: 100%;
}
.btn-find {
  background: #1ca0c3;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjYTBjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzFjYTBjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzFiOTJiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjUyNjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #1ca0c3 0%, #1ca0c3 50%, #1b92b1 51%, #1b5261 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1ca0c3), color-stop(50%, #1ca0c3), color-stop(51%, #1b92b1), color-stop(100%, #1b5261));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1ca0c3 0%, #1ca0c3 50%, #1b92b1 51%, #1b5261 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1ca0c3 0%, #1ca0c3 50%, #1b92b1 51%, #1b5261 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1ca0c3 0%, #1ca0c3 50%, #1b92b1 51%, #1b5261 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1ca0c3 0%, #1ca0c3 50%, #1b92b1 51%, #1b5261 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ca0c3', endColorstr='#1b5261', GradientType=0);
  /* IE6-8 */
  border: none;
  color: #ffffff;
  font-family: 'bebas-neue';
  text-transform: uppercase;
  font-size: 23px;
  line-height: 1 !important;
}
.btn-find:hover {
  background: #1ca0c3;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjYTBjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzFjYTBjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzFiOTJiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjUyNjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #1ca0c3 0%, #1ca0c3 50%, #1b92b1 51%, #1b5261 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1ca0c3), color-stop(50%, #1ca0c3), color-stop(51%, #1b92b1), color-stop(100%, #1b5261));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1ca0c3 0%, #1ca0c3 50%, #1b92b1 51%, #1b5261 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1ca0c3 0%, #1ca0c3 50%, #1b92b1 51%, #1b5261 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1ca0c3 0%, #1ca0c3 50%, #1b92b1 51%, #1b5261 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1ca0c3 0%, #1ca0c3 50%, #1b92b1 51%, #1b5261 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ca0c3', endColorstr='#1b5261', GradientType=0);
  /* IE6-8 */
  color: #ffffff;
}
.btn-location {
  width: 100%;
}
.find-event{
  margin-right: 10px;
}
.navbar-wpc {
  background: image-url('bg-nav.png') repeat;
  width: 100%;
  border-radius: 0px;
  border: none;
  padding-bottom: 2px;
  margin-bottom: 0px;
}
.form-wpc {
  font-family: 'droid-bold';
  margin-top: 37px;
}
.countdown {
  margin-top: 20px;
  margin-left: 15px;
}
.countdown p,
.countdown span {
  font-family: 'bebas-neue';
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.countdown span {
  padding: 15px;
  font-size: 25px;
}
.countdown p {
  font-size: 17px;
}
.countdown-section{
  font-family: 'bebas-neue';
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  float: left;
  margin-left: 10px;
}
.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown-amount {
  background-color: #000000;
  border: 1px solid #2aaacb;
  font-size: 27px;
}
.countdown-period{
  font-size: 17px;
  padding: 5px 10px;
}
.countdown .days_ref,
.countdown .hours_ref,
.countdown .minutes_ref,
.countdown-period {
  background: #64838c;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY0ODM4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjJlMzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #64838c 0%, #222e31 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #64838c), color-stop(100%, #222e31));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #64838c 0%, #222e31 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #64838c 0%, #222e31 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #64838c 0%, #222e31 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #64838c 0%, #222e31 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#64838c', endColorstr='#222e31', GradientType=0);
  /* IE6-8 */
}
.countdown .seperator {
  margin-right: 5px;
}
.countdown-result {
  font-family: 'bebas-neue';
  margin-left: 15px;
  margin-top: 0px;
  display: inline-block;
}
.countdown-result span {
  margin-left: 5px;
  color: #fff;
}
.countdown-result .seperator-result {
  font-size: 34px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #40d6ff;
  margin-left: 10px;
  background-color: #000000;
  border: 1px solid #2aaacb;
}
.countdown-result .seperator-result b {
  font-size: 12px;
  font-weight: normal;
}
.countdown-result .event-count,
.countdown-result .pst-count {
  font-size: 23px;
  padding: 10px;
  margin-left: -2px;
  margin-right: 20px;
  background: #64838c;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY0ODM4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjJlMzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #64838c 0%, #222e31 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #64838c), color-stop(100%, #222e31));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #64838c 0%, #222e31 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #64838c 0%, #222e31 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #64838c 0%, #222e31 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #64838c 0%, #222e31 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#64838c', endColorstr='#222e31', GradientType=0);
  /* IE6-8 */
}
.maps {
  height: 551px;
  position: relative;
  background: #fff;
}
.wrap-create-event {
  position: absolute;
  width: 415px;
  height: 551px;
  overflow: auto;
  background-color: #fff;
  -webkit-box-shadow: 2px 0px 5px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 2px 0px 5px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 2px 0px 5px 0px rgba(50, 50, 50, 0.3);
}
.modal-body-wpc {
  overflow: hidden;
}
#input-location {
  width: 100%;
}
.header-form-event {
  font-family: 'bebas-neue';
  background-color: #506970;
}
.header-form-event h1 {
  color: #fff;
  margin-top: 0px;
  padding: 5px;
}
.body-form-event {
  padding: 3px;
}
.date-form {
  margin: 10px;
}
label.control-label span {
  cursor: pointer;
}
.footer-form-event {
  font-family: 'bebas-neue';
  background: image-url('bg-nav.png') repeat;
  padding: 5px;
}
.event-legend {
  position: absolute;
  background: image-url('bg-nav.png') repeat;
  bottom: 37px;
  border: 2px solid #2aaacb;
  padding: 5px;
  left: 46px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 0.75);
}
.footer {
  height: auto;
  padding: 20px;
  margin-top: 0;
}
.footer img{
  margin-left: 10px;
}
.list-footer-logo {
  list-style: none;
}
.list-footer-logo li {
  display: inline-block;
}
.list-footer-logo img {
  width: 110px;
}

.list-event-legend {
  list-style: none;
  font-family: 'bebas-neue';
  font-size: 21px;
}

.list-event-legend li {
  display: inline-block;
  color: #fff;
}

.list-event-legend li a {
  color: #fff;
  margin-left: -9px;
}

.list-event-legend .compass {
  color: #fff;
  background: #1ca0c3;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjYTBjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzFjYTBjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzFiOTJiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjUyNjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #1ca0c3 0%, #1ca0c3 50%, #1b92b1 51%, #1b5261 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1ca0c3), color-stop(50%, #1ca0c3), color-stop(51%, #1b92b1), color-stop(100%, #1b5261));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1ca0c3 0%, #1ca0c3 50%, #1b92b1 51%, #1b5261 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1ca0c3 0%, #1ca0c3 50%, #1b92b1 51%, #1b5261 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1ca0c3 0%, #1ca0c3 50%, #1b92b1 51%, #1b5261 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1ca0c3 0%, #1ca0c3 50%, #1b92b1 51%, #1b5261 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ca0c3', endColorstr='#1b5261', GradientType=0);
  /* IE6-8 */
  padding: 4px;
  margin-top: 18px;
  margin-left: -22px;
  margin-right: 30px;
  padding-left: 42px;
  padding-right: 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.meditation {
  padding-left: 18px;
  width: 55px
}

.music {
  width: 33px;
}

.march {
  width: 35px;
}

.multiple {
  width: 34px;
}

.compass-img {
  width: 30px;
  position: absolute;
  left: -28px;
  top: 0px;
  img {
    width: 88px;
  }
}

.detail-event {
  background: #105567; /* Old browsers */
  background: -moz-linear-gradient(top,  #105567 0%, #105567 0%, #00b7ea 5%, #d0f5ff 47%, #129abe 96%, #105567 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#105567), color-stop(0%,#105567), color-stop(5%,#00b7ea), color-stop(47%,#d0f5ff), color-stop(96%,#129abe), color-stop(100%,#105567)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #105567 0%,#105567 0%,#00b7ea 5%,#d0f5ff 47%,#129abe 96%,#105567 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #105567 0%,#105567 0%,#00b7ea 5%,#d0f5ff 47%,#129abe 96%,#105567 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #105567 0%,#105567 0%,#00b7ea 5%,#d0f5ff 47%,#129abe 96%,#105567 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #105567 0%,#105567 0%,#00b7ea 5%,#d0f5ff 47%,#129abe 96%,#105567 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#105567', endColorstr='#105567',GradientType=0 ); /* IE6-9 */
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  position: absolute;
  height: 100%;
  left: 50px;
  padding: 21px;
  top: 0px;
  border: 1px solid #ccc;
}

.btn-detail {
 font-family: 'droid-reguler';
 background-color: #ff74d6;
 border-radius: 0px;
 margin-top: 10px;
 text-transform: uppercase;
 color: #fff;
 border: none;
 &:hover {
  background-color: #ff74d6;
  color: #fff;
}
  span{
    margin-left: 5px;
  }
}

.btn-fb {
  color: #fff;
  &:extend(.btn-detail);
  background-color: #4b67a1;
  &:hover {
    background-color: #4b67a1;
    color: #fff;
  }
}

.body-see-event{
  background: image-url('bg-nav.png') repeat;
  top: 1%;
  position: absolute;
  // bottom: -61px;
  // left: 103px;
  //height: 551px;
  width: 34%;
  padding-bottom: 25px;
  border: 3px #fff solid;

  h1 {
   font-family: 'bebas-neue';
   color: #fff;
   letter-spacing: 2px;
   font-size: 27px;
 }

 h3 {
  font-family: 'droid-reguler';
  color: #fff;
  line-height: 15px;
  font-size: 15px;
  margin: 10px 0 10px 0;
  }
}

.triangel-tooltip {
  position: relative;
  top: 38px;
  left: 180px;
}

.see-event {
  background: #fff;
  padding: 10px;
  width: 100%;
  min-height: 150px;
}

.body-see-event-tooltip{
 background: image-url('bg-nav.png') repeat;
  position: absolute;
  // bottom: -61px;
  // left: 103px;
  width: 87%;
  padding-bottom: 22px;
  left: 34px;

  h1 {
   font-family: 'bebas-neue';
   color: #fff;
   letter-spacing: 5px;
 }

 h2 {
  font-family: 'droid-reguler';
  font-size: 17px;
  color: #fff;
  line-height: 10px;
}
}

.see-event-tooltip {
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  height: 200px;
  margin-top: 20px;
}

.col-md-6-cs {
  width: 621px;
}

.pad-left-7five {
  padding-left: 7.5px;
}

.pad-right-7five {
  padding-right: 7.5px;
}

@media (max-width: 321px) {
  .navbar-wpc {
    display: none;
  }
}

// @media (max-width: 320px) {
//   .clear-mobile {
//     clear: left;
//   }
// }

@media (min-width: 480px) {
   .navbar-wpc {
    display: none;
  }
}

@media (min-width: 1024px) {
  .navbar-wpc {
    display: block;
  }
  .warp-header-peace {
    display: none;
  }
}

@media (max-width: 800px) {
  .hidden-md {
   display: none;
 }
 .powered-logo {
    img {
      width: 135px !important;
    }
  }
  .btn-find {
    font-size: 17px;
  }

 .show_create_event {
    width: 100% !important;
 }

 .find-location {
  height: 29px;
 }

 .warp-header-peace {
  display: block;
 }

 .wrap-big-navbar,.warp-header-peace.mobile {
    display: none;
  }

  .event-legend {
    width: 446px !important;
  }
  .list-event-legend {
    font-size: 16px;
    li.compass {
      margin-right: -22px;
      margin-top: 17px;
      img {
        width: 78px;
      }
    }
  }
}


@media (max-width:760px){
  .warp-header-peace {
    display: none;
  }

  .warp-header-peace.mobile {
    display: block;
  }
}

// --------------------------------------- Delip Code

.wrap-big-navbar {
  padding-left: 120px;
  padding-bottom: 20px !important;
}

.warp-header-peace {
  background: image-url('bg-nav.png') repeat;
  color: white;
  padding: 10px;
  padding-left: 25px;
}

.btn-gradient {
  background: #64838c;
  background: -moz-linear-gradient(top, #64838c 0%, #222e31 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #64838c), color-stop(100%, #222e31));
  background: -webkit-linear-gradient(top, #64838c 0%, #222e31 100%);
  background: -o-linear-gradient(top, #64838c 0%, #222e31 100%);
  background: -ms-linear-gradient(top, #64838c 0%, #222e31 100%);
  background: linear-gradient(to bottom, #64838c 0%, #222e31 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#64838c', endColorstr='#222e31', GradientType=0);
}

ul.list-days, ul.list-result-event, ul.peace-mobile {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  margin-right: 7px;
}

ul.list-days {
  max-width: 40px;
  min-width: 40px;
  li {
    background-color: black;
    font-family: 'bebas-neue';
    text-align: center;
    font-size: 14px;
    &.list-date-top {
      font-size: 18px;
      border: 1px solid #2aaacb;
    }
    &.list-date-bottom {
      .btn-gradient;
    }
  }
}

ul.list-result-event {
  li {
    float: left;
    font-family: 'bebas-neue';
  }
  li.list-result-left {
    text-align: center;
    color: #40d6ff;
    padding: 10px;
    font-size: 18px;
    background-color: black;
    border: 1px solid #2aaacb;
    b {
      font-size: 14px;
    }
  }
  li.list-result-right {
    .btn-gradient;
    padding: 7px;
    margin-top: 7px;
  }
}

.form-custom {
  height: 29px;
}

.btn-finder {
  width: 100%;
}

.warp-header-peace.mobile {
  overflow: hidden;
  ul.peace-mobile {
    li{
      float: left;
    }
  }
}



