| Thank you for creating an event for World Peace Day, we will confirm your event within 48 hours, and contact you once it has been approved.  To manage your event, please register by&nbsp;
= link_to "Unify", new_user_registration_url()
| . To view or edit you event, please&nbsp;
= link_to "click here", event_url(@slug)
| . Peace - The Unify Team